<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">${custom_cta_section_headline}</h2>
                <hr class="light">
                <p class="text-faded">${custom_cta_section_content}</p>
                <a href="${custom_cta_section_button_link}" class="btn btn-default btn-xl">${custom_cta_section_button}</a>
            </div>
        </div>
    </div>
</section>
